<footer class="bg-white border-t border-gray-200">
    {# py-2 es un margen interno mínimo #}
    <div class="max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:px-8">
        <p class="text-center text-xs text-gray-400">
            &copy; {{ 'now'|date('Y') }} <span style="font-family: 'Great Vibes', cursive; font-size: 1rem;">Licoris Radiata</span>. Todos los derechos reservados.
        </p>
    </div>
</footer>